* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: #f8ab8a;
	font-family: sans-serif;
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, serif;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 18px;
}

.Hidden {
	display: none;
}

.ScreenReaderOnly {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

.Button {
	background: orange;
	color: white;
	text-decoration: none;
	display: inline-block;
	padding: 6px 12px;
	border-radius: 6px;
}

.Site {
	margin: auto;
	max-width: 900px;
	background: white;
	box-shadow: 0 10px 10px #be5d17;
	border: 3px solid orange;
	border-top: 0;
	border-bottom: 0;
	padding: 15px;
}

@media (min-width: 600px) {
	.Header {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
}

.Header-title {
	margin: 0;
}

.Header-logo {
	border-radius: 10px;
	margin-bottom: 10px;
}

.Search {
	display: flex;
	align-items: stretch;
}

.Search input {
	margin-right: 5px;
}

.Search button:focus {
	outline: 0;
}

.Menu {
	padding-left: 0;
	margin: 30px 0;
	text-align: center;
	background-color: orange;
}

.Menu li {
	display: inline;
}

.Menu a {
	font-size: 18px;
	display: inline-block;
	margin: 0 10px;
	padding: 10px;
	color: white;
	text-decoration: none;
	font-weight: bold;
	outline: 0;
}

.Menu a:hover {
	text-decoration: underline;
}

.Distribution {
	display: flex;
	flex-direction: column;
}

.Distribution-photos {
	order: 1;
}

@media (min-width: 700px) {
	.Distribution {
		flex-direction: row;
	}

	.Distribution-photos {
		margin-left: 50px;
	}
}

.Distinctions {
	border-collapse: collapse;
}

.Distinctions tr:first-of-type > * {
	font-weight: bold;
}

.Distinctions th,
.Distinctions td {
	padding: 5px;
	border: 1px solid #bbb;
}

.Distinctions-won {
	background: green;
}

.GoldenBook-toggle {
	background: rgb(28, 105, 205);
	color: white;
	padding: 6px 12px;
	display: inline-block;
	outline: 0;
}

.GoldenBook-toggle:focus {
	outline: 0;
}

.GoldenBook-form {
	margin: 30px;
}

.GoldenBook-form input,
.GoldenBook-form textarea {
	width: 300px;
}

.FormError {
	color: red;
}

.FormSuccess {
	color: green;
	font-weight: bold;
}

.Footer {
	margin-top: 50px;
}

@media (min-width: 700px) {
	.Footer-columns {
		display: flex;
	}
	
	.Footer-columns > div {
		flex: 1;
	}
}

.Footer-from {
	text-align: right;
	font-style: italic;
	font-size: 12px;
}

.Footer-externalLinks {
	padding-left: 40px;
}

.Footer-externalLinks > div {
	display: list-item;
}

.swiper {
	width: 100%;
	height: 400px;
}

.swiper img {
	width: 100%;
	height: auto;
}
